<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DietBuddy</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <header class="header">
    <div class="header-content">
        <a href="#" class="logo">
            <div class="logo-icon">D</div>
            DietBuddy
        </a>
        <div class="auth-buttons">
            <a href="/signin" class="btn-sign-in">Sign In</a>
            <a href="/signup" class="btn-sign-up">Sign Up</a>
        </div>
    </div>
</header>

</body>
</html>