<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DietBuddy</title>
  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <header class="header">
    <div class="header-content">
        <a href="#" class="logo">
            <div class="logo-icon">D</div>
            DietBuddy
        </a>
        <div class="auth-buttons">
            <a href="/signin" class="btn-sign-in">Sign In</a>
            <a href="/signup" class="btn-sign-up">Sign Up</a>
        </div>
    </div>
</header>
<main class="main">
  <div class="column image-column">
    <div class="image-wrapper">
        <img src="/assets/images/food.jpg" alt="Food image">
    </div>
</div>
<div class="column text-column">
    <h1>Welcome to DietBuddy</h1>
    <br><br>
    <p>Food Recipe and Diet Recommender creates personalized meals</p>
    <p>using ingredients you already have, while considering your allergies</p>
    <p>and preferred cuisines. It tailors easy, nutritious recipes to fit</p>
    <p>your needs, making healthy eating both convenient and enjoyable.</p>
</div>
</main>
<footer class="footer">
  &copy; DietBuddy
</footer>

</body>
</html>